<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width: 800px; margin: 0 auto; padding: 0 20px;"><h1>Instructions</h1>
    <p><br>This project covers the basics of Machine Learning, exploring its definition, its different 
        types, and diving into supervised learning through practical use cases. The web application 
        was developed using Python with Flask for the server logic, and HTML along with Bootstrap for 
        the interface design.</p></div>
    
</body>
</html>