<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width: 800px; margin: 0 auto; padding: 0 20px;">

    <h1 style="text-align: center;">¿What is Machine Learning?</h1>
    
    <p>learning is the subset or branch of artificial intelligence focused on algorithms 
        capable of learning patterns in training data, and then making inferences on new data. 
        This allows for pattern recognition that machine learning models use to make predictions 
        without the need for explicit, coded instructions.<br><br>He has come to master the field 
        of artificial intelligence, being the backbone from forecasting models that use historical 
        data and statistical models to project future business results and financial performance, to 
        autonomous vehicles, large language models, and more generative AI tools.</p>

    <h2 style="text-align: center;">Main types of Machine Learning</h2>

    
        <dl>
            <li><strong>Supervised learning:</strong> the model is trained on a set of labeled data (target 
            variables or already known outcomes). Supervised learning is commonly used for risk assessment, 
            image recognition, predictive analysis, and fraud detection 
            <br><br>
            <dd><li><strong>Regression:</strong> Predicts continuous 
            or numerical values (e.g., temperature, salary). Includes linear regression, random forest, and 
            gradient boosting.</li>
            <li><strong>Classification:</strong> Assigns data to categories or labels (e.g., "spam" or "not spam"). Includes 
            logistic regression, k-NN, and SVM.</li>
            <li><strong>Naïve Bayes classifiers:</strong> Ideal for large volumes of data and generative models. In this area, 
            decision trees are also mentioned, which can be adapted for regression and classification.</li>
            <li><strong>Neural networks:</strong> Simulate the human brain through interconnected nodes; used in translation, 
            voice, and image processing.</li>
            <li><strong>Random Forest:</strong> Combines the results of multiple decision trees to predict a value or category.</li>
            </dd>
        </dl>
</li>
    
    <dl><li><strong>Unsupervised learning:</strong> Methods extract inferences from unlabeled datasets, 
        making exploratory data analysis easier and allowing for pattern recognition and predictive modeling. 
        The most common unsupervised learning method is cluster analysis, which uses clustering algorithms to 
        categorize data points based on value similarity (like in customer segmentation or anomaly detection).
    </li>
    <br>
    <dd>
        <li><strong>K-means Clustering:</strong> Groups data based on how close they are to a centroid into <em>K</em> categories. 
            It's used in market segmentation, document grouping, image segmentation, and compression. </li>
        <li><strong>Hierarchical Clustering:</strong> Includes two approaches; agglomerative (starts with isolated points 
            and merges them based on similarity) and divisive (starts with a single group and splits it 
            based on differences).</li> 
        <li><strong>Probabilistic Clustering:</strong> Does a "soft" clustering by assigning data according to the probability 
            of belonging to a specific distribution. It solves density estimation problems.</li>
    </dd>

    </dl>
    
    <li><strong>Reinforcement learning:</strong> It's a type of dynamic programming that delivers algorithms 
        through a reward and punishment model. To implement reinforcement learning, an agent takes actions in 
        a specific environment to reach a predetermined goal. The agent is rewarded or penalized for its 
        actions based on a set metric (usually points), encouraging the agent to keep up good practices and 
        drop the bad ones. With repetition, the agent learns the best strategies.</li>

</div>
    


</body>
</html>